<footer class="page-footer grey lighten-5">
  <div class="footer-copyright">
    <div class="container">
      <a class="grey-text text-darken-5 right" href="http://sulmanbaig.com">&copy; 2015 Sulman Baig</a>
    </div>
  </div>
</footer>