<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper light-blue darken-3">
        <%= link_to '<i class="mdi-maps-directions-car left"></i>Paul Traders'.html_safe, root_path, class: "brand-logo" %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <%= render 'shared/headerMenu' %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <%= render 'shared/headerMenu' %>
        </ul>
      </div>
    </nav>
  </div>
</header>